<template>
	<Head>
		<title>Dashboard - Aplikasi Kasir</title>
	</Head>

	<main class="c-main">
		<div class="container-fluid">
			<div class="fade-in">
				<div class="row">
					<div class="col-md8">
						<div
							class="
								card
								border-0
								rounded-3
								shadow
								border-top-purple
							"
							v-if="hasAnyPermissions(['dashboard.sales_caht'])"
						>
							<div class="card-header">
								<span
									class="
										font-weight-bold
										text-transform-uppercase
									"
								>
									<i class="fa fa-chart-bar"></i>
									Sales Chart 7 Days
								</span>
							</div>
							<div class="card-body"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div
							class="
								card
								border-0
								rounded-3
								shadow
								border-top-info
								mb-4
							"
							v-if="hasAnyPermissions(['dashboard.sales_today'])"
						>
							<div class="card-header">
								<span
									class="
										font-weight-bold
										text-transform-uppercase
									"
								>
									<i class="fa fa-chart-line"></i>
									Sales Today
								</span>
							</div>
							<div class="card-body">
								<strong>0</strong> SALES
								<hr />
								<h5 class="fw-bold">Rp. 0</h5>
							</div>
						</div>

						<div
							class="
								card-border-0
								rounded-3
								shadow
								border-top-success
							"
							v-if="
								hasAnyPermissions(['dashboard.profits_today'])
							"
						>
							<div class="card-header">
								<span
									class="
										font-weight-bold
										text-transform-uppercase
									"
								>
									<i class="fa fa-chart-bar"></i>
									Profits Today
								</span>
							</div>
							<div class="card-body">
								<h5 class="fw-bold">Rp. 0</h5>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div
							class="
								card
								border-0
								rounded-3
								shadow
								border-top-warning
							"
							v-if="
								hasAnyPermission([
									'dashboard.best_selling_product',
								])
							"
						>
							<div class="card-header">
								<span
									class="
										font-weight-bold
										text-transform-uppercase
									"
								>
									<i class="fa fa-chart-pie"></i>
									Best Selling Product
								</span>
							</div>
							<div class="card-body"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div
							class="
								card
								border-0
								rounded-3
								shadow
								border-top-danger
							"
						>
							<div class="card-header">
								<span
									class="
										font-weight-bold
										text-transform-uppercase
									"
								>
									<i class="fa fa-box-open"></i>
									Product Stock
								</span>
							</div>
							<div class="card-body"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
	import LayoutApp from "../../Layout/App.vue";
	import { Head } from "@inertiajs/inertia-vue3";

	export default {
		// layout
		layout: LayoutApp,

        // register components
		components: {
			Head,
		},
	};
</script>

<style>
</style>