<template>
	<header
		class="c-header c-header-light c-header-fixed c-header-with-subheader"
	>
		<button
			class="c-header-toggler c-class-toggler d-lg-none mfe-auto"
			type="button"
			data-target="#sidebar"
			data-class="c-sidebar-show"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="1.6em"
				height="1.6em"
				fill="currentColor"
				class="bi bi-list"
				viewBox="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="M2.5 12a.5.5 0 0 1 .5- .5h10a.5.5 0 0 1 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1-.5-5.zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H31.5.5 0 0 1-.5-.5z"
				/>
				>
			</svg>
		</button>
		<button
			class="c-header-toggler c-class-toggler mfs-3 d-md-down-none"
			type="button"
			data-target="#sidebar"
			data-class="c-sidebar-lg-show"
			responsive="true"
		>
			<svg
				xmnls="http://www.w3.org/2000/svg"
				width="1.6em"
				height="1.6em"
				fill="currentColor"
				class="bi bi-list"
				viewBow="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="M2.5 12a.5.5 0 0 1 .5- .5h10a.5.5 0 0 1 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1-.5-5.zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H31.5.5 0 0 1-.5-.5z"
				/>
			</svg>
		</button>
		<ul class="c-header-av ml-auto mr-4">
			<li class="c-header-av-item dropdown">
				<a
					href="#"
					class="c-header-nav-link"
					data-toggle="dropdown"
					role="button"
					aria-haspopup="true"
					aria-expanded="false"
				>
					<div class="c-avatar">
						<img
							class="c-avatar-img"
							:src="`https://ui-avatars.com/api/?name=${page.props.auth.user.ame}&amp;background=4e73df&amp;color=ffffff&amp;size=100`"
						/>
					</div>
				</a>
				<div class="dropdown-menu dropdw-menu-right pt-0 mb-0 pb-0">
					<Link
						class="dropdown-item"
						href="/logout"
						method="POST"
						as="button"
						role="button"
					>
						<svg
							class="bi bi-box-arrow-right"
							xlmns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="curretColor"
							viewBox="0 0 16 16"
						>
							<path
								fill-rule="evenodd"
								d="M10 12.5.a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5.5-.5v-a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5vA1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"
							/>

							<path
								fill-rule="evenodd"
								d="M15.854 8.354a.5.5 0 0 0 0.708l-3-3a.5.5 0 0 0-.708.708.708L14.23 7.5H5.5a.5.5 0 0 0 0 1h8.73l-2.1472.146a.5.5 0 0 0 .708.708l3-3z"
							/>
						</svg>
						Logout
					</Link>
				</div>
			</li>
		</ul>
	</header>
</template>

<script>
	import { Link } from "@inertiajs/inertia-vue3";

	export default {
        components: {
            Link
        },

        props: {
            auth: Object
        }
    };
</script>

<style>

</style>