<template>
    <Head>
        <title>Login Account - Aplikasi Kasir</title>
    </Head>

    <Body>
        <div class="col md-4">
            <div class="fade-in">
                <div class="text-center mb-4">
                    <a href="" class="text-dark text-decoration-none">
                        <img
                            src="{{ asset('images/cash-machine.jpg') }}"
                            alt="Mesin Kasir"
                            width="70"
                        />
                        <h3
                            class="mt-2 font-weight-bold text-transform-uppercase"
                        >
                            Aplikasi Kasir
                        </h3>
                    </a>
                </div>

                <div class="card-group">
                    <div
                        class="card border-top-purple border-0 shadow-sm rounded-3"
                    >
                        <div class="card-body">
                            <div class="text-start">
                                <h5 class="text-transform-uppercase">
                                    Login Account
                                </h5>
                                <p class="text-muted">
                                    Sign in to your account
                                </p>
                            </div>
                            <hr />
                            <div
                                v-if="success.status"
                                class="alert alert-success mt-2"
                            >
                                {{ session.status }}
                            </div>

                            <form @submit.prevent="submit">
                                <div class="input-group mb-3">
                                    <div class="input-group prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                    </div>
                                    <input
                                        type="email"
                                        class="form-control"
                                        v-model="form.email"
                                        :class="{ 'is-invalid': errors.email }"
                                        placeholder="Email Address"
                                    />
                                </div>
                                <div
                                    v-if="errors.email"
                                    class="alert alert-danger"
                                >
                                    {{ errors.email }}
                                </div>
                                <div class="input-group-mb-3">
                                    <div class="input-group prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    <input
                                        type="password"
                                        class="form-control"
                                        v-model="form.password"
                                        :class="{
                                            'is-invalid': errors.password,
                                        }"
                                        placeholder="Password"
                                    />
                                </div>
                                <div class="row">
                                    <div class="col-12 mb-3 text-end">
                                        <Link href="/forgot-password"
                                            >Forgot Password?</Link
                                        >
                                    </div>
                                    <div class="col-12">
                                        <button
                                            class="btn btn-primary shadow-sm rounded-sm px-4 w-100 text-transform-uppercase"
                                            type="submit"
                                        >
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Body>
</template>

<script>
import LayoutAuth from "../../Layout/Auth.vue"; // import layout
import { reactive } from "vue"; // import reactive
import { Head, Link } from "@inertiajs/inertia-vue3"; // import Header dan useForm from Inertia
import { Inertia } from "@inertiajs/inertia";

export default {
    // layout
    layout: LayoutAuth,

    // register component
    components: {
        Head,
        Link,
    },

    props: {
        errors: Object,
        session: Object,
    },

    // define composition API
    setup() {
        // define form state
        const form = reactive({
            email: "",
            password: "",
        });

        // submit method
        const submit = () => {
            // send data to server
            Inertia.post("/login", {
                // data
                email: form.email,
                password: form.password,
            });
        };

        // return form state and submit method
        return {
            form,
            submit,
        };
    },
};
</script>

<style></style>
